@* @page "/home"
@using ResuMate.Components.Models
@rendermode InteractiveServer

<h3>CV detaljer</h3>

<div class="form-group label">
    <label>Namn</label>
    <input @bind="cv.Name" class="form-control" />
</div>
<div class="form-group label">
    <label>Email</label>
    <input @bind="cv.Email" class="form-control" />
</div>

<div class="form-group d-flex gap-2">
    <div class="form-group label" style="flex: 2;">
        <label>Address</label>
        <input @bind="cv.Adress" class="form-control" />
    </div>
    <div class="form-group label" style="flex: 1;">
        <label>Postkod</label>
        <input @bind="cv.PostalCode" class="form-control" />
    </div>
    <div class="form-group label" style="flex: 1;">
        <label>Stad</label>
        <input @bind="cv.City" class="form-control" />
    </div>
</div>

<div class="form-group label">
    <label>Telefonnummer</label>
    <input @bind="cv.PhoneNumber" class="form-control" />
</div>


<div class="form-group label">
    <label>Svagheter</label>
    <input @bind="cv.Weaknesses" class="form-control" />
</div>
<div class="form-group label">
    <label>Styrkor</label>
    <input @bind="cv.Strenghts" class="form-control" />
</div>
<div class="form-group label">
    <label>Om mig</label>
    <textarea @bind="cv.AboutMe" class="form-control"></textarea>
</div>
<div class="form-group label">
    <label>Språk</label>
    <input @bind="cv.Languages" class="form-control" />
</div>


<h3>Arbetslivserfarenheter</h3>
@foreach (var job in cv.Experiences)
{
    <div class="form-group label">
        <label>Jobbtitel</label>
        <input @bind="job.JobTitle" class="form-control" />
    </div>

    <div class="form-group label">
        <label>Företag</label>
        <input @bind="job.Company" class="form-control" />
    </div>

    <div class="form-group label">
        <label>Beskrivning av arbetsuppgifter</label>
        <textarea @bind="job.JobDescription" class="form-control" />
    </div>

    <div class="form-group d-flex gap-3 label">
        <div>
            <label>Startår</label>
            <input type="number" @bind="job.StartYear" class="form-control" />
        </div>
        <div>
            <label>Slutår</label>
            <input type="number" @bind="job.EndYear" class="form-control" />
        </div>
    </div>
}

<h3>Utbildningar</h3>
@foreach(var edu in cv.Educations)
{
    <div class="form-group label">
    <label>Skola</label>
    <input @bind="edu.School" class="form-control"/>
    </div>

    <div class="form-group label">
        <label>Inriktning</label>
        <input @bind="edu.Degree"class="form-control" />
    </div>

    <div class="form-group label">
        <label>Examen</label>
        <input @bind="edu.Degree" class="form-control" />
    </div>

    <div class="form-group d-flex gap-3 label">
        <div>
            <label>Startår</label>
            <input type="number" @bind="edu.StartYear" class="form-control" />
        </div>
        <div>
            <label>Slutår</label>
            <input type="number" @bind="edu.EndYear" class="form-control" />
        </div>
    </div>

    <div class="form-group label">
        <label>Examen</label>
        <input @bind="edu.Degree" class="form-control" />
    </div>
}


<div class="form-group label">
    <label>Karriärmål</label>
    <textarea @bind="cv.CareerGoals" class="form-control"></textarea>
</div>
<div class="form-group label">
    <label>Mina referenser</label>
    <textarea @bind="cv.References" class="form-control"></textarea>
</div>

<button class="btn btn-primary" @onclick="GenerateSummary">Generate Summary</button>

<h3>Summary:</h3>
<p>@summary</p>

@code {
    CvDto cv = new CvDto
        {
            Name = "Emil Öhrström",
            Email = "Emil.ohrstrom@hotmail.com",
            BirthYear = 1993,
            Adress = "Bränntorp Björnmossen",
            PostalCode = "61892",
            City = "Kolmården",
            PhoneNumber = "073-123 45 67",
            Weaknesses = "",
            Strenghts = "",
            AboutMe = "Jag bor med min fru och två barn",
            Languages = "Svenska och engelska",
            CareerGoals = "Att bli världens bästa programmerare",
            References = "Finns vid behov",
            Educations = new List<EducationDto>()
            {
                new EducationDto()
                {
                    School = "Campus Nyköping",
                    Degree = "YH examen",
                    Specialization = "Systemutvecklare .Net",
                    StartYear = 2023,
                    EndYear = 2025
                }
            },
            Experiences = new List<ExperienceDto>()
            {
                new ExperienceDto()
                {
                    JobTitle = "Idrottsplatsvaktmästare",
                    Company = "Pema Partner",
                    JobDescription = "idrottsplatsvaktmästare på himmelstalundshallen, klippt gräs, kört ismaskin, tagit hand om fotbollsplaner",
                    StartYear = 2020,
                    EndYear = 2023
                }
            }

        };

    private string summary = "";

    private void GenerateSummary()
    {
       summary = $"Hej, mitt namn är {cv.Name}. Jag bor på {cv.Adress}, {cv.PostalCode}, {cv.City}. " +
                 $"Du kan kontakta mig på {cv.PhoneNumber} eller via e-post på {cv.Email}. " +
                 $"Jag är född år {cv.BirthYear}. " +
                 $"Lite om mig: {cv.AboutMe}. " +
                 $"Mina styrkor inkluderar {cv.Strenghts}, medan mina svagheter är {cv.Weaknesses}. " +
                 $"Jag talar {cv.Languages}. " +
                 $"Mina karriärmål är: {cv.CareerGoals}. " +
                 $"Referenser: {cv.References}. ";


        if (cv.Educations != null && cv.Educations.Count > 0)
        {
            summary += " Jag har följande utbildningar: ";
            foreach (var edu in cv.Educations)
            {
                summary += $"{edu.Degree} vid {edu.School} med inriktning {edu.Specialization} ({edu.StartYear}-{edu.EndYear}). ";
            }
        }


        if (cv.Experiences != null && cv.Experiences.Count > 0)
        {
            summary += " Min arbetslivserfarenhet inkluderar: ";
            foreach (var exp in cv.Experiences)
            {
                summary += $"{exp.JobTitle} på {exp.Company} ({exp.StartYear}-{exp.EndYear}) där jag arbetade med {exp.JobDescription}. ";
            }
        }

        Console.WriteLine(summary);
    }

    
}
 *@