@* @page "/"
@using ResuMate.Services
@using ResuMate.Components.Models
@inject CreatePdfService PdfService

<h3>View PDF</h3>

@if (PdfData == null)
{
    <p>Generating PDF...</p>
}
else
{

    <iframe src="@PdfData" width="100%" height="100%"></iframe>

    <a href="@PdfData" download="Resume.pdf">Download PDF</a>
}

@code {
    private string? PdfData { get; set; }

    protected override async Task OnInitializedAsync()
    {
       // Generera PDF och konvertera till Base64
        var pdfBytes = PdfService.GeneratePdf();
        PdfData = $"data:application/pdf;base64,{Convert.ToBase64String(pdfBytes)}";
    }
}
 

@* <h3>Välj en CV-mall</h3>

<select @bind="SelectedTemplate">
    <option value="Classic">Classic</option>
    <option value="Modern">Modern</option>
    <option value="Creative">Creative</option>
</select>

<button @onclick="GeneratePdf">Generera CV</button>

@if (PdfUrl is not null)
{
    <p><a href="@PdfUrl" download="MittCV.pdf">Ladda ner ditt CV</a></p>
}

@code {
    private CvTemplate SelectedTemplate = CvTemplate.Classic;
    private string? PdfUrl;

    private async Task GeneratePdf()
    {
        var pdfBytes = PdfService.GeneratePdf(SelectedTemplate);
        var fileName = $"MittCV-{SelectedTemplate}.pdf";
        await using var stream = new MemoryStream(pdfBytes);
        var fileUrl = $"data:application/pdf;base64,{Convert.ToBase64String(pdfBytes)}";
        PdfUrl = fileUrl;
    }
} *@ 