@page "/select-template"
@inject NavigationManager Navigation
@attribute [Authorize]
@rendermode InteractiveServer

<div class="template-selection-container">

    <div class="template-header">
        <h1>Välj en mall</h1>
        <p>Här kan du välja vilken mall som passar just dig .</p>
    </div>

    <div class="template-list">
        <div class="template-item" @onclick="() => OnTemplateSelected(1)">
            <div class="template-number">1</div>
            <div class="template-content">
                <img src="../Images/Template1.jpg" alt="Mall 1 Preview" class="template-preview" />
            </div>           
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(2)">
            <div class="template-number">2</div>
            <div class="template-content">
                <img src="../images/Template2.jpg" alt="Mall 2 Preview" class="template-preview" />
            </div>            
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(3)">
            <div class="template-number">3</div>
            <div class="template-content">
                <img src="../Images/Template3.jpg" alt="Mall 3 Preview" class="template-preview" />
            </div>            
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(4)">
            <div class="template-number">4</div>
            <div class="template-content">
                <img src="../images/Template4.jpg" alt="Mall 4 Preview" class="template-preview" />
            </div>            
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(5)">
            <div class="template-number">5</div>
            <div class="template-content">
                <img src="../Images/Template5.jpg" alt="Mall 5 Preview" class="template-preview" />
            </div>          
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(6)">
            <div class="template-number">6</div>
            <div class="template-content">
                <img src="../Images/Template6.jpg" alt="Mall 6 Preview" class="template-preview" />
            </div>            
        </div>

        <div class="template-item" @onclick="() => OnTemplateSelected(7)">
            <div class="template-number">7</div>
            <div class="template-content">
                <img src="../Images/Template7.jpg" alt="Mall 7 Preview" class="template-preview" />
            </div>            
        </div>
    </div>
</div>


@code {
    private void OnTemplateSelected(int templateNumber)
    {       
        Navigation.NavigateTo($"/cvform?template={templateNumber}");
    }
}
