@page "/select-template"
@inject NavigationManager Navigation
@attribute [Authorize]
@rendermode InteractiveServer

<h3>Välj en mall</h3>

<p>Välj en mall som passar dig bäst.</p>

<div class="template-list">
    <div class="template-item">
        <img src="../Images/Template1.jpg" alt="Mall 1 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(1)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../images/Template2.jpg" alt="Mall 2 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(2)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../Images/Template3.jpg" alt="Mall 3 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(3)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../images/Template4.jpg" alt="Mall 4 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(4)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../Images/Template5.jpg" alt="Mall 5 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(5)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../Images/Template6.jpg" alt="Mall 5 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(6)">Välj</button>
    </div>
    <div class="template-item">
        <img src="../Images/Template7.jpg" alt="Mall 5 Preview" class="template-preview" />
        <button class="template-button" @onclick="() => OnTemplateSelected(7)">Välj</button>
    </div>
</div>


@code {
    private void OnTemplateSelected(int templateNumber)
    {       
        Navigation.NavigateTo($"/cvform?template={templateNumber}");
    }
}
